## Assignment 8
#### Instructions: Revisit assignment 2 and finish the tasks using pandas and geopandas, instead.

The tasks are:

- Find top n most common county names (n = 3 or 5, for example)
- Derive summary statistics for states, for example, number of counties, counties with max/min area
- Join fips code to get full names of states (plesae do a real join using merge)
- Plot maps to show all the counties with the most common names from first task

In [205]:
#imports
import fiona
import geopandas as gpd
import pandas as pd

In [112]:
#adding geojson data from a link
url = "https://raw.githubusercontent.com/TangoYankee/gtech_731-geocomp-hw/main/assignment-eight/data/gz_2010_us_050_00_20m.geojson"
data = gpd.read_file(url)

In [20]:
#making sure the dataframe looks right
data.head(5)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry
0,0500000US01001,01,001,Autauga,County,594.436,"POLYGON ((-86.49677 32.34444, -86.71790 32.402..."
1,0500000US01009,01,009,Blount,County,644.776,"POLYGON ((-86.57780 33.76532, -86.75914 33.840..."
2,0500000US01017,01,017,Chambers,County,596.531,"POLYGON ((-85.18413 32.87053, -85.12342 32.772..."
3,0500000US01021,01,021,Chilton,County,692.854,"POLYGON ((-86.51734 33.02057, -86.51596 32.929..."
4,0500000US01033,01,033,Colbert,County,592.619,"POLYGON ((-88.13999 34.58170, -88.13925 34.587..."

#### Task 1:  Find top n most common county names (n = 3 or 5, for example)

In [47]:
#for loop for finding common names
common_names_dict = {}

for name in nameList:
    if name in common_names_dict:
      common_names_dict[name] +=1
    else:
      common_names_dict[name] =1

print(common_names_dict)

{'Autauga': 1, 'Baldwin': 2, 'Barbour': 2, 'Bibb': 2, 'Blount': 2, 'Bullock': 1, 'Butler': 7, 'Calhoun': 11, 'Chambers': 2, 'Cherokee': 8, 'Chilton': 1, 'Choctaw': 3, 'Clarke': 4, 'Clay': 17, 'Cleburne': 2, 'Coffee': 3, 'Colbert': 1, 'Conecuh': 1, 'Coosa': 1, 'Covington': 2, 'Crenshaw': 1, 'Cullman': 1, 'Dale': 1, 'Dallas': 4, 'DeKalb': 5, 'Elmore': 2, 'Escambia': 2, 'Etowah': 1, 'Fayette': 11, 'Franklin': 24, 'Geneva': 1, 'Greene': 12, 'Hale': 2, 'Henry': 8, 'Houston': 5, 'Jackson': 23, 'Jefferson': 25, 'Lamar': 4, 'Lauderdale': 3, 'Lawrence': 10, 'Lee': 11, 'Limestone': 2, 'Lowndes': 3, 'Macon': 5, 'Madison': 18, 'Marengo': 1, 'Marion': 16, 'Marshall': 12, 'Mobile': 1, 'Monroe': 16, 'Montgomery': 15, 'Morgan': 10, 'Perry': 9, 'Pickens': 3, 'Pike': 9, 'Randolph': 7, 'Russell': 3, 'Shelby': 8, 'St. Clair': 3, 'Sumter': 4, 'Talladega': 1, 'Tallapoosa': 1, 'Tuscaloosa': 1, 'Walker': 3, 'Washington': 28, 'Wilcox': 2, 'Winston': 2, 'Aleutians East': 1, 'Aleutians West': 1, 'Anchorage': 1, 'Bethel': 1, 'Bristol Bay': 1, 'Denali': 1, 'Dillingham': 1, 'Fairbanks North Star': 1, 'Haines': 1, 'Hoonah-Angoon': 1, 'Juneau': 2, 'Kenai Peninsula': 1, 'Ketchikan Gateway': 1, 'Kodiak Island': 1, 'Lake and Peninsula': 1, 'Matanuska-Susitna': 1, 'Nome': 1, 'North Slope': 1, 'Northwest Arctic': 1, 'Petersburg': 1, 'Prince of Wales-Hyder': 1, 'Sitka': 1, 'Skagway': 1, 'Southeast Fairbanks': 1, 'Valdez-Cordova': 1, 'Wade Hampton': 1, 'Wrangell': 1, 'Yakutat': 1, 'Yukon-Koyukuk': 1, 'Apache': 1, 'Cochise': 1, 'Coconino': 1, 'Gila': 1, 'Graham': 3, 'Greenlee': 1, 'La Paz': 1, 'Maricopa': 1, 'Mohave': 1, 'Navajo': 1, 'Pima': 1, 'Pinal': 1, 'Santa Cruz': 2, 'Yavapai': 1, 'Yuma': 2, 'Arkansas': 1, 'Ashley': 1, 'Baxter': 1, 'Benton': 8, 'Boone': 7, 'Bradley': 2, 'Carroll': 10, 'Chicot': 1, 'Clark': 11, 'Cleveland': 3, 'Columbia': 8, 'Conway': 1, 'Craighead': 1, 'Crawford': 10, 'Crittenden': 2, 'Cross': 1, 'Desha': 1, 'Drew': 1, 'Faulkner': 1, 'Fulton': 8, 'Garland': 1, 'Grant': 15, 'Hempstead': 1, 'Hot Spring': 1, 'Howard': 5, 'Independence': 1, 'Izard': 1, 'Johnson': 11, 'Lafayette': 5, 'Lincoln': 23, 'Little River': 1, 'Logan': 10, 'Lonoke': 1, 'Miller': 2, 'Mississippi': 1, 'Nevada': 2, 'Newton': 5, 'Ouachita': 2, 'Phillips': 4, 'Poinsett': 1, 'Polk': 11, 'Pope': 3, 'Prairie': 2, 'Pulaski': 5, 'Saline': 4, 'Scott': 9, 'Searcy': 1, 'Sebastian': 1, 'Sevier': 3, 'Sharp': 1, 'St. Francis': 1, 'Stone': 2, 'Union': 18, 'Van Buren': 4, 'White': 5, 'Woodruff': 1, 'Yell': 1, 'Alameda': 1, 'Alpine': 1, 'Amador': 1, 'Butte': 3, 'Calaveras': 1, 'Colusa': 1, 'Contra Costa': 1, 'Del Norte': 1, 'El Dorado': 1, 'Fresno': 1, 'Glenn': 1, 'Humboldt': 3, 'Imperial': 1, 'Inyo': 1, 'Kern': 1, 'Kings': 2, 'Lake': 12, 'Lassen': 1, 'Los Angeles': 1, 'Madera': 1, 'Marin': 1, 'Mariposa': 1, 'Mendocino': 1, 'Merced': 1, 'Modoc': 1, 'Mono': 1, 'Monterey': 1, 'Napa': 1, 'Orange': 7, 'Placer': 1, 'Plumas': 1, 'Riverside': 1, 'Sacramento': 1, 'San Benito': 1, 'San Bernardino': 1, 'San Diego': 1, 'San Francisco': 1, 'San Joaquin': 1, 'San Luis Obispo': 1, 'San Mateo': 1, 'Santa Barbara': 1, 'Santa Clara': 1, 'Shasta': 1, 'Sierra': 2, 'Siskiyou': 1, 'Solano': 1, 'Sonoma': 1, 'Stanislaus': 1, 'Sutter': 1, 'Tehama': 1, 'Trinity': 2, 'Tulare': 1, 'Tuolumne': 1, 'Ventura': 1, 'Yolo': 1, 'Yuba': 1, 'Adams': 12, 'Alamosa': 1, 'Arapahoe': 1, 'Archuleta': 1, 'Baca': 1, 'Bent': 1, 'Boulder': 1, 'Broomfield': 1, 'Chaffee': 1, 'Cheyenne': 3, 'Clear Creek': 1, 'Conejos': 1, 'Costilla': 1, 'Crowley': 1, 'Custer': 6, 'Delta': 3, 'Denver': 1, 'Dolores': 1, 'Douglas': 11, 'Eagle': 1, 'El Paso': 2, 'Elbert': 2, 'Fremont': 4, 'Garfield': 6, 'Gilpin': 1, 'Grand': 2, 'Gunnison': 1, 'Hinsdale': 1, 'Huerfano': 1, 'Kiowa': 3, 'Kit Carson': 1, 'La Plata': 1, 'Larimer': 1, 'Las Animas': 1, 'Mesa': 1, 'Mineral': 4, 'Moffat': 1, 'Montezuma': 1, 'Montrose': 1, 'Otero': 2, 'Ouray': 1, 'Park': 3, 'Pitkin': 1, 'Prowers': 1, 'Pueblo': 1, 'Rio Blanco': 1, 'Rio Grande': 1, 'Routt': 1, 'Saguache': 1, 'San Juan': 5, 'San Miguel': 2, 'Sedgwick': 2, 'Summit': 3, 'Teller': 1, 'Weld': 1, 'Fairfield': 3, 'Hartford': 1, 'Litchfield': 1, 'Middlesex': 3, 'New Haven': 1, 'New London': 1, 'Tolland': 1, 'Windham': 2, 'Kent': 4, 'New Castle': 1, 'Sussex': 2, 'District of Columbia': 1, 'Alachua': 1, 'Baker': 3, 'Bay': 2, 'Bradford': 2, 'Brevard': 1, 'Broward': 1, 'Charlotte': 1, 'Citrus': 1, 'Collier': 1, 'DeSoto': 2, 'Dixie': 1, 'Duval': 2, 'Flagler': 1, 'Gadsden': 1, 'Gilchrist': 1, 'Glades': 1, 'Gulf': 1, 'Hamilton': 10, 'Hardee': 1, 'Hendry': 1, 'Hernando': 1, 'Highlands': 1, 'Hillsborough': 2, 'Holmes': 3, 'Indian River': 1, 'Leon': 2, 'Levy': 1, 'Liberty': 4, 'Manatee': 1, 'Martin': 6, 'Miami-Dade': 1, 'Nassau': 2, 'Okaloosa': 1, 'Okeechobee': 1, 'Osceola': 3, 'Palm Beach': 1, 'Pasco': 1, 'Pinellas': 1, 'Putnam': 8, 'Santa Rosa': 1, 'Sarasota': 1, 'Seminole': 3, 'St. Johns': 1, 'St. Lucie': 1, 'Suwannee': 1, 'Taylor': 7, 'Volusia': 1, 'Wakulla': 1, 'Walton': 2, 'Appling': 1, 'Atkinson': 1, 'Bacon': 1, 'Banks': 1, 'Barrow': 1, 'Bartow': 1, 'Ben Hill': 1, 'Berrien': 2, 'Bleckley': 1, 'Brantley': 1, 'Brooks': 2, 'Bryan': 2, 'Bulloch': 1, 'Burke': 3, 'Butts': 1, 'Camden': 3, 'Candler': 1, 'Catoosa': 1, 'Charlton': 1, 'Chatham': 2, 'Chattahoochee': 1, 'Chattooga': 1, 'Clayton': 2, 'Clinch': 1, 'Cobb': 1, 'Colquitt': 1, 'Cook': 3, 'Coweta': 1, 'Crisp': 1, 'Dade': 1, 'Dawson': 4, 'Decatur': 5, 'Dodge': 4, 'Dooly': 1, 'Dougherty': 1, 'Early': 1, 'Echols': 1, 'Effingham': 2, 'Emanuel': 1, 'Evans': 1, 'Fannin': 2, 'Floyd': 5, 'Forsyth': 2, 'Gilmer': 2, 'Glascock': 1, 'Glynn': 1, 'Gordon': 1, 'Grady': 2, 'Gwinnett': 1, 'Habersham': 1, 'Hall': 3, 'Hancock': 10, 'Haralson': 1, 'Harris': 2, 'Hart': 2, 'Heard': 1, 'Irwin': 1, 'Jasper': 7, 'Jeff Davis': 2, 'Jenkins': 1, 'Jones': 6, 'Lanier': 1, 'Laurens': 2, 'Long': 1, 'Lumpkin': 1, 'McDuffie': 1, 'McIntosh': 3, 'Meriwether': 1, 'Mitchell': 5, 'Murray': 3, 'Muscogee': 1, 'Oconee': 2, 'Oglethorpe': 1, 'Paulding': 2, 'Peach': 1, 'Pierce': 5, 'Quitman': 2, 'Rabun': 1, 'Richmond': 4, 'Rockdale': 1, 'Schley': 1, 'Screven': 1, 'Spalding': 1, 'Stephens': 3, 'Stewart': 2, 'Talbot': 1, 'Taliaferro': 1, 'Tattnall': 1, 'Telfair': 1, 'Terrell': 2, 'Thomas': 3, 'Tift': 1, 'Toombs': 1, 'Towns': 1, 'Treutlen': 1, 'Troup': 1, 'Turner': 2, 'Twiggs': 1, 'Upson': 1, 'Ware': 1, 'Warren': 12, 'Wayne': 15, 'Webster': 7, 'Wheeler': 4, 'Whitfield': 1, 'Wilkes': 2, 'Wilkinson': 2, 'Worth': 2, 'Hawaii': 1, 'Honolulu': 1, 'Kalawao': 1, 'Kauai': 1, 'Maui': 1, 'Ada': 1, 'Bannock': 1, 'Bear Lake': 1, 'Benewah': 1, 'Bingham': 1, 'Blaine': 4, 'Boise': 1, 'Bonner': 1, 'Bonneville': 1, 'Boundary': 1, 'Camas': 1, 'Canyon': 1, 'Caribou': 1, 'Cassia': 1, 'Clearwater': 2, 'Gem': 1, 'Gooding': 1, 'Idaho': 1, 'Jerome': 1, 'Kootenai': 1, 'Latah': 1, 'Lemhi': 1, 'Lewis': 6, 'Minidoka': 1, 'Nez Perce': 1, 'Oneida': 3, 'Owyhee': 1, 'Payette': 1, 'Power': 1, 'Shoshone': 1, 'Teton': 3, 'Twin Falls': 1, 'Valley': 3, 'Alexander': 2, 'Bond': 1, 'Brown': 9, 'Bureau': 1, 'Cass': 8, 'Champaign': 2, 'Christian': 2, 'Clinton': 8, 'Coles': 1, 'Cumberland': 7, 'De Witt': 1, 'DuPage': 1, 'Edgar': 1, 'Edwards': 3, 'Ford': 2, 'Gallatin': 3, 'Grundy': 3, 'Hardin': 6, 'Henderson': 5, 'Iroquois': 1, 'Jersey': 1, 'Jo Daviess': 1, 'Kane': 2, 'Kankakee': 1, 'Kendall': 2, 'Knox': 8, 'LaSalle': 1, 'Livingston': 5, 'Macoupin': 1, 'Mason': 6, 'Massac': 1, 'McDonough': 1, 'McHenry': 2, 'McLean': 3, 'Menard': 2, 'Mercer': 7, 'Moultrie': 1, 'Ogle': 1, 'Peoria': 1, 'Piatt': 1, 'Richland': 7, 'Rock Island': 1, 'Sangamon': 1, 'Schuyler': 2, 'Stark': 3, 'Stephenson': 1, 'Tazewell': 1, 'Vermilion': 2, 'Wabash': 2, 'Whiteside': 1, 'Will': 1, 'Williamson': 3, 'Winnebago': 3, 'Woodford': 2, 'Allen': 5, 'Bartholomew': 1, 'Blackford': 1, 'Daviess': 2, 'Dearborn': 1, 'Delaware': 6, 'Dubois': 1, 'Elkhart': 1, 'Fountain': 1, 'Gibson': 2, 'Harrison': 7, 'Hendricks': 1, 'Huntington': 1, 'Jay': 1, 'Jennings': 1, 'Kosciusko': 1, 'LaGrange': 1, 'LaPorte': 1, 'Miami': 3, 'Noble': 3, 'Ohio': 3, 'Owen': 2, 'Parke': 1, 'Porter': 1, 'Posey': 1, 'Ripley': 1, 'Rush': 2, 'Spencer': 2, 'St. Joseph': 2, 'Starke': 1, 'Steuben': 2, 'Sullivan': 5, 'Switzerland': 1, 'Tippecanoe': 1, 'Tipton': 2, 'Vanderburgh': 1, 'Vermillion': 1, 'Vigo': 1, 'Warrick': 1, 'Wells': 2, 'Whitley': 2, 'Adair': 3, 'Allamakee': 1, 'Appanoose': 1, 'Audubon': 1, 'Black Hawk': 1, 'Bremer': 1, 'Buchanan': 1, 'Buena Vista': 1, 'Cedar': 2, 'Cerro Gordo': 1, 'Chickasaw': 2, 'Davis': 2, 'Des Moines': 1, 'Dickinson': 3, 'Dubuque': 1, 'Emmet': 2, 'Guthrie': 1, 'Ida': 1, 'Iowa': 2, 'Keokuk': 1, 'Kossuth': 1, 'Linn': 3, 'Louisa': 1, 'Lucas': 2, 'Lyon': 5, 'Mahaska': 1, 'Mills': 2, 'Monona': 1, 'Muscatine': 1, "O'Brien": 1, 'Page': 1, 'Palo Alto': 1, 'Plymouth': 2, 'Pocahontas': 2, 'Pottawattamie': 1, 'Poweshiek': 1, 'Ringgold': 1, 'Sac': 1, 'Sioux': 3, 'Story': 1, 'Tama': 1, 'Wapello': 1, 'Winneshiek': 1, 'Woodbury': 1, 'Wright': 2, 'Anderson': 5, 'Atchison': 1, 'Barber': 1, 'Barton': 1, 'Bourbon': 2, 'Chase': 2, 'Chautauqua': 2, 'Cloud': 1, 'Coffey': 1, 'Comanche': 3, 'Cowley': 1, 'Doniphan': 1, 'Elk': 2, 'Ellis': 3, 'Ellsworth': 1, 'Finney': 1, 'Geary': 1, 'Gove': 1, 'Gray': 2, 'Greeley': 2, 'Greenwood': 2, 'Harper': 2, 'Harvey': 1, 'Haskell': 3, 'Hodgeman': 1, 'Jewell': 1, 'Kearny': 1, 'Kingman': 1, 'Labette': 1, 'Lane': 2, 'Leavenworth': 1, 'McPherson': 3, 'Meade': 3, 'Morris': 3, 'Morton': 2, 'Nemaha': 2, 'Neosho': 1, 'Ness': 1, 'Norton': 1, 'Osage': 2, 'Osborne': 1, 'Ottawa': 4, 'Pawnee': 3, 'Pottawatomie': 2, 'Pratt': 1, 'Rawlins': 1, 'Reno': 1, 'Republic': 1, 'Rice': 2, 'Riley': 1, 'Rooks': 1, 'Seward': 2, 'Shawnee': 1, 'Sheridan': 5, 'Sherman': 4, 'Smith': 4, 'Stafford': 1, 'Stanton': 2, 'Stevens': 3, 'Sumner': 2, 'Trego': 1, 'Wabaunsee': 1, 'Wallace': 1, 'Wichita': 2, 'Wilson': 4, 'Woodson': 1, 'Wyandotte': 1, 'Ballard': 1, 'Barren': 1, 'Bath': 1, 'Bell': 2, 'Boyd': 2, 'Boyle': 1, 'Bracken': 1, 'Breathitt': 1, 'Breckinridge': 1, 'Bullitt': 1, 'Caldwell': 4, 'Calloway': 1, 'Campbell': 4, 'Carlisle': 1, 'Carter': 4, 'Casey': 1, 'Edmonson': 1, 'Elliott': 1, 'Estill': 1, 'Fleming': 1, 'Garrard': 1, 'Graves': 1, 'Grayson': 2, 'Green': 2, 'Greenup': 1, 'Harlan': 2, 'Hickman': 2, 'Hopkins': 2, 'Jessamine': 1, 'Kenton': 1, 'Knott': 1, 'Larue': 1, 'Laurel': 1, 'Leslie': 1, 'Letcher': 1, 'Magoffin': 1, 'McCracken': 1, 'McCreary': 1, 'Menifee': 1, 'Metcalfe': 1, 'Muhlenberg': 1, 'Nelson': 2, 'Nicholas': 2, 'Oldham': 2, 'Owsley': 1, 'Pendleton': 2, 'Powell': 2, 'Robertson': 3, 'Rockcastle': 1, 'Rowan': 2, 'Simpson': 2, 'Todd': 3, 'Trigg': 1, 'Trimble': 1, 'Wolfe': 1, 'Acadia': 1, 'Ascension': 1, 'Assumption': 1, 'Avoyelles': 1, 'Beauregard': 1, 'Bienville': 1, 'Bossier': 1, 'Caddo': 2, 'Calcasieu': 1, 'Cameron': 3, 'Catahoula': 1, 'Claiborne': 3, 'Concordia': 1, 'De Soto': 1, 'East Baton Rouge': 1, 'East Carroll': 1, 'East Feliciana': 1, 'Evangeline': 1, 'Iberia': 1, 'Iberville': 1, 'Jefferson Davis': 2, 'La Salle': 2, 'Lafourche': 1, 'Morehouse': 1, 'Natchitoches': 1, 'Orleans': 3, 'Plaquemines': 1, 'Pointe Coupee': 1, 'Rapides': 1, 'Red River': 2, 'Sabine': 2, 'St. Bernard': 1, 'St. Charles': 1, 'St. Helena': 1, 'St. James': 1, 'St. John the Baptist': 1, 'St. Landry': 1, 'St. Martin': 1, 'St. Mary': 1, 'St. Tammany': 1, 'Tangipahoa': 1, 'Tensas': 1, 'Terrebonne': 1, 'Vernon': 2, 'West Baton Rouge': 1, 'West Carroll': 1, 'West Feliciana': 1, 'Winn': 1, 'Androscoggin': 1, 'Aroostook': 1, 'Kennebec': 1, 'Oxford': 1, 'Penobscot': 1, 'Piscataquis': 1, 'Sagadahoc': 1, 'Somerset': 3, 'Waldo': 1, 'York': 4, 'Baltimore': 1, 'Barnstable': 1, 'Berkshire': 1, 'Bristol': 2, 'Dukes': 1, 'Essex': 4, 'Hampden': 1, 'Hampshire': 2, 'Nantucket': 1, 'Norfolk': 1, 'Suffolk': 2, 'Worcester': 1, 'Alcona': 1, 'Alger': 1, 'Allegan': 1, 'Alpena': 1, 'Antrim': 1, 'Arenac': 1, 'Baraga': 1, 'Barry': 1, 'Benzie': 1, 'Branch': 1, 'Charlevoix': 1, 'Cheboygan': 1, 'Chippewa': 3, 'Clare': 1, 'Eaton': 1, 'Genesee': 2, 'Gladwin': 1, 'Gogebic': 1, 'Grand Traverse': 1, 'Gratiot': 1, 'Hillsdale': 1, 'Houghton': 1, 'Huron': 2, 'Ingham': 1, 'Ionia': 1, 'Iosco': 1, 'Iron': 3, 'Isabella': 1, 'Kalamazoo': 1, 'Kalkaska': 1, 'Keweenaw': 1, 'Lapeer': 1, 'Leelanau': 1, 'Lenawee': 1, 'Luce': 1, 'Mackinac': 1, 'Macomb': 1, 'Manistee': 1, 'Marquette': 2, 'Mecosta': 1, 'Menominee': 2, 'Midland': 2, 'Missaukee': 1, 'Montcalm': 1, 'Montmorency': 1, 'Muskegon': 1, 'Newaygo': 1, 'Oakland': 1, 'Oceana': 1, 'Ogemaw': 1, 'Ontonagon': 1, 'Oscoda': 1, 'Otsego': 2, 'Presque Isle': 1, 'Roscommon': 1, 'Saginaw': 1, 'Sanilac': 1, 'Schoolcraft': 1, 'Shiawassee': 1, 'Tuscola': 1, 'Washtenaw': 1, 'Wexford': 1, 'Aitkin': 1, 'Anoka': 1, 'Becker': 1, 'Beltrami': 1, 'Big Stone': 1, 'Blue Earth': 1, 'Carlton': 1, 'Carver': 1, 'Chisago': 1, 'Cottonwood': 1, 'Crow Wing': 1, 'Dakota': 2, 'Faribault': 1, 'Fillmore': 2, 'Freeborn': 1, 'Goodhue': 1, 'Hennepin': 1, 'Hubbard': 1, 'Isanti': 1, 'Itasca': 1, 'Kanabec': 1, 'Kandiyohi': 1, 'Kittson': 1, 'Koochiching': 1, 'Lac qui Parle': 1, 'Lake of the Woods': 1, 'Le Sueur': 1, 'Mahnomen': 1, 'McLeod': 1, 'Meeker': 1, 'Mille Lacs': 1, 'Morrison': 1, 'Mower': 1, 'Nicollet': 1, 'Nobles': 1, 'Norman': 1, 'Olmsted': 1, 'Otter Tail': 1, 'Pennington': 2, 'Pine': 1, 'Pipestone': 1, 'Ramsey': 2, 'Red Lake': 1, 'Redwood': 1, 'Renville': 2, 'Rock': 3, 'Roseau': 1, 'Sherburne': 1, 'Sibley': 1, 'St. Louis': 2, 'Stearns': 1, 'Steele': 2, 'Swift': 1, 'Traverse': 1, 'Wabasha': 1, 'Wadena': 1, 'Waseca': 1, 'Watonwan': 1, 'Wilkin': 1, 'Winona': 1, 'Yellow Medicine': 1, 'Alcorn': 1, 'Amite': 1, 'Attala': 1, 'Bolivar': 1, 'Coahoma': 1, 'Copiah': 1, 'Forrest': 1, 'George': 1, 'Grenada': 1, 'Hinds': 1, 'Humphreys': 2, 'Issaquena': 1, 'Itawamba': 1, 'Kemper': 1, 'Leake': 1, 'Leflore': 1, 'Neshoba': 1, 'Noxubee': 1, 'Oktibbeha': 1, 'Panola': 2, 'Pearl River': 1, 'Pontotoc': 2, 'Prentiss': 1, 'Rankin': 1, 'Sharkey': 1, 'Sunflower': 1, 'Tallahatchie': 1, 'Tate': 1, 'Tippah': 1, 'Tishomingo': 1, 'Tunica': 1, 'Walthall': 1, 'Yalobusha': 1, 'Yazoo': 1, 'Beaverhead': 1, 'Big Horn': 2, 'Broadwater': 1, 'Carbon': 4, 'Cascade': 1, 'Chouteau': 1, 'Daniels': 1, 'Deer Lodge': 1, 'Fallon': 1, 'Fergus': 1, 'Flathead': 1, 'Glacier': 1, 'Golden Valley': 2, 'Granite': 1, 'Hill': 2, 'Judith Basin': 1, 'Lewis and Clark': 1, 'McCone': 1, 'Meagher': 1, 'Missoula': 1, 'Musselshell': 1, 'Petroleum': 1, 'Pondera': 1, 'Powder River': 1, 'Ravalli': 1, 'Roosevelt': 2, 'Rosebud': 1, 'Sanders': 1, 'Silver Bow': 1, 'Stillwater': 1, 'Sweet Grass': 1, 'Toole': 1, 'Treasure': 1, 'Wheatland': 1, 'Wibaux': 1, 'Yellowstone': 1, 'Antelope': 1, 'Arthur': 1, 'Banner': 1, 'Box Butte': 1, 'Buffalo': 3, 'Burt': 1, 'Cherry': 1, 'Colfax': 2, 'Cuming': 1, 'Dawes': 1, 'Deuel': 2, 'Dixon': 1, 'Dundy': 1, 'Frontier': 1, 'Furnas': 1, 'Gage': 1, 'Garden': 1, 'Gosper': 1, 'Hayes': 1, 'Hitchcock': 1, 'Holt': 1, 'Hooker': 1, 'Kearney': 1, 'Keith': 1, 'Keya Paha': 1, 'Kimball': 1, 'Lancaster': 3, 'Loup': 1, 'Merrick': 1, 'Morrill': 1, 'Nance': 1, 'Nuckolls': 1, 'Otoe': 1, 'Perkins': 2, 'Phelps': 1, 'Platte': 2, 'Red Willow': 1, 'Richardson': 1, 'Sarpy': 1, 'Saunders': 1, 'Scotts Bluff': 1, 'Thayer': 1, 'Thurston': 2, 'Carson City': 1, 'Churchill': 1, 'Elko': 1, 'Esmeralda': 1, 'Eureka': 1, 'Lander': 1, 'Nye': 1, 'Pershing': 1, 'Storey': 1, 'Washoe': 1, 'White Pine': 1, 'Belknap': 1, 'Cheshire': 1, 'Coos': 2, 'Grafton': 1, 'Merrimack': 1, 'Rockingham': 2, 'Strafford': 1, 'Atlantic': 1, 'Bergen': 1, 'Burlington': 1, 'Cape May': 1, 'Gloucester': 1, 'Hudson': 1, 'Hunterdon': 1, 'Monmouth': 1, 'Ocean': 1, 'Passaic': 1, 'Salem': 1, 'Bernalillo': 1, 'Catron': 1, 'Chaves': 1, 'Cibola': 1, 'Curry': 2, 'De Baca': 1, 'Doña Ana': 1, 'Eddy': 2, 'Guadalupe': 2, 'Harding': 2, 'Hidalgo': 2, 'Lea': 1, 'Los Alamos': 1, 'Luna': 1, 'McKinley': 1, 'Mora': 1, 'Quay': 1, 'Rio Arriba': 1, 'Sandoval': 1, 'Santa Fe': 1, 'Socorro': 1, 'Taos': 1, 'Torrance': 1, 'Valencia': 1, 'Albany': 2, 'Allegany': 1, 'Bronx': 1, 'Broome': 1, 'Cattaraugus': 1, 'Cayuga': 1, 'Chemung': 1, 'Chenango': 1, 'Cortland': 1, 'Dutchess': 1, 'Erie': 3, 'Herkimer': 1, 'New York': 1, 'Niagara': 1, 'Onondaga': 1, 'Ontario': 1, 'Oswego': 1, 'Queens': 1, 'Rensselaer': 1, 'Rockland': 1, 'Saratoga': 1, 'Schenectady': 1, 'Schoharie': 1, 'Seneca': 2, 'St. Lawrence': 1, 'Tioga': 2, 'Tompkins': 1, 'Ulster': 1, 'Westchester': 1, 'Wyoming': 3, 'Yates': 1, 'Alamance': 1, 'Alleghany': 1, 'Anson': 1, 'Ashe': 1, 'Avery': 1, 'Beaufort': 2, 'Bertie': 1, 'Bladen': 1, 'Brunswick': 1, 'Buncombe': 1, 'Cabarrus': 1, 'Carteret': 1, 'Caswell': 1, 'Catawba': 1, 'Chowan': 1, 'Columbus': 1, 'Craven': 1, 'Currituck': 1, 'Dare': 1, 'Davidson': 2, 'Davie': 1, 'Duplin': 1, 'Durham': 1, 'Edgecombe': 1, 'Gaston': 1, 'Gates': 1, 'Granville': 1, 'Guilford': 1, 'Halifax': 1, 'Harnett': 1, 'Haywood': 2, 'Hertford': 1, 'Hoke': 1, 'Hyde': 2, 'Iredell': 1, 'Johnston': 2, 'Lenoir': 1, 'McDowell': 2, 'Mecklenburg': 1, 'Moore': 3, 'Nash': 1, 'New Hanover': 1, 'Northampton': 2, 'Onslow': 1, 'Pamlico': 1, 'Pasquotank': 1, 'Pender': 1, 'Perquimans': 1, 'Person': 1, 'Pitt': 1, 'Robeson': 1, 'Rutherford': 2, 'Sampson': 1, 'Scotland': 1, 'Stanly': 1, 'Stokes': 1, 'Surry': 1, 'Swain': 1, 'Transylvania': 1, 'Tyrrell': 1, 'Vance': 1, 'Wake': 1, 'Watauga': 1, 'Yadkin': 1, 'Yancey': 1, 'Barnes': 1, 'Benson': 1, 'Billings': 1, 'Bottineau': 1, 'Bowman': 1, 'Burleigh': 1, 'Cavalier': 1, 'Dickey': 1, 'Divide': 1, 'Dunn': 2, 'Emmons': 1, 'Foster': 1, 'Grand Forks': 1, 'Griggs': 1, 'Hettinger': 1, 'Kidder': 1, 'LaMoure': 1, 'McKenzie': 1, 'Mountrail': 1, 'Oliver': 1, 'Pembina': 1, 'Ransom': 1, 'Rolette': 1, 'Sargent': 1, 'Slope': 1, 'Stutsman': 1, 'Towner': 1, 'Traill': 1, 'Walsh': 1, 'Ward': 2, 'Williams': 2, 'Ashland': 2, 'Ashtabula': 1, 'Athens': 1, 'Auglaize': 1, 'Belmont': 1, 'Clermont': 1, 'Columbiana': 1, 'Coshocton': 1, 'Cuyahoga': 1, 'Darke': 1, 'Defiance': 1, 'Gallia': 1, 'Geauga': 1, 'Guernsey': 1, 'Highland': 1, 'Hocking': 1, 'Licking': 1, 'Lorain': 1, 'Mahoning': 1, 'Medina': 2, 'Meigs': 2, 'Morrow': 2, 'Muskingum': 1, 'Pickaway': 1, 'Portage': 2, 'Preble': 1, 'Ross': 1, 'Sandusky': 1, 'Scioto': 1, 'Trumbull': 1, 'Tuscarawas': 1, 'Van Wert': 1, 'Vinton': 1, 'Wood': 4, 'Wyandot': 1, 'Alfalfa': 1, 'Atoka': 1, 'Beaver': 3, 'Beckham': 1, 'Canadian': 1, 'Cimarron': 1, 'Coal': 1, 'Cotton': 1, 'Craig': 1, 'Creek': 1, 'Dewey': 2, 'Garvin': 1, 'Greer': 1, 'Harmon': 1, 'Hughes': 2, 'Kay': 1, 'Kingfisher': 1, 'Latimer': 1, 'Le Flore': 1, 'Love': 1, 'Major': 1, 'Mayes': 1, 'McClain': 1, 'McCurtain': 1, 'Muskogee': 1, 'Nowata': 1, 'Okfuskee': 1, 'Oklahoma': 1, 'Okmulgee': 1, 'Payne': 1, 'Pittsburg': 1, 'Pushmataha': 1, 'Roger Mills': 1, 'Rogers': 1, 'Sequoyah': 1, 'Texas': 1, 'Tillman': 1, 'Tulsa': 1, 'Wagoner': 1, 'Washita': 1, 'Woods': 1, 'Woodward': 1, 'Clackamas': 1, 'Clatsop': 1, 'Crook': 2, 'Deschutes': 1, 'Gilliam': 1, 'Harney': 1, 'Hood River': 1, 'Josephine': 1, 'Klamath': 1, 'Malheur': 1, 'Multnomah': 1, 'Tillamook': 1, 'Umatilla': 1, 'Wallowa': 1, 'Wasco': 1, 'Yamhill': 1, 'Allegheny': 1, 'Armstrong': 2, 'Bedford': 3, 'Berks': 1, 'Blair': 1, 'Bucks': 1, 'Cambria': 1, 'Centre': 1, 'Chester': 3, 'Clarion': 1, 'Clearfield': 1, 'Dauphin': 1, 'Forest': 2, 'Huntingdon': 1, 'Indiana': 1, 'Juniata': 1, 'Lackawanna': 1, 'Lebanon': 1, 'Lehigh': 1, 'Luzerne': 1, 'Lycoming': 1, 'McKean': 1, 'Mifflin': 1, 'Montour': 1, 'Northumberland': 1, 'Philadelphia': 1, 'Potter': 3, 'Schuylkill': 1, 'Snyder': 1, 'Susquehanna': 1, 'Venango': 1, 'Westmoreland': 1, 'Newport': 1, 'Providence': 1, 'Abbeville': 1, 'Aiken': 1, 'Allendale': 1, 'Bamberg': 1, 'Barnwell': 1, 'Berkeley': 2, 'Charleston': 1, 'Chesterfield': 1, 'Clarendon': 1, 'Colleton': 1, 'Darlington': 1, 'Dillon': 1, 'Dorchester': 1, 'Edgefield': 1, 'Florence': 2, 'Georgetown': 1, 'Greenville': 1, 'Hampton': 1, 'Horry': 1, 'Kershaw': 1, 'Lexington': 1, 'Marlboro': 1, 'McCormick': 1, 'Newberry': 1, 'Orangeburg': 1, 'Saluda': 1, 'Spartanburg': 1, 'Williamsburg': 1, 'Aurora': 1, 'Beadle': 1, 'Bennett': 1, 'Bon Homme': 1, 'Brookings': 1, 'Brule': 1, 'Charles Mix': 1, 'Codington': 1, 'Corson': 1, '

In [222]:
#Turning common names dictionary into dataframe using pandas
new_common_names = pd.DataFrame.from_dict(common_names_dict, orient = 'index')

#Sort
sorted_common_names = new_common_names.sort_values(0)

In [155]:
#Answer
sorted_common_names.tail(5)

             0
Jackson     23
Lincoln     23
Franklin    24
Jefferson   25
Washington  28

#### TASK 2: Derive summary statistics for states, for example, number of counties, counties with max/min area

In [174]:
#Census area summary statistics
data.describe()

          CENSUSAREA
count    3221.000000
mean     1097.587458
std      3571.272013
min         1.999000
25%       418.922000
50%       604.360000
75%       914.523000
max    145504.789000

In [185]:
#Getting the max area for each state
max_data = data
max_data.groupby("STATE").max()

C:\Users\amyca\AppData\Local\Temp\ipykernel_72708\208025681.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  max_data.groupby("STATE").max()

               GEO_ID COUNTY                  NAME    LSAD  CENSUSAREA
STATE
01     0500000US01133    133               Winston  County    1589.784
02     0500000US02290    290         Yukon-Koyukuk    Muny  145504.789
04     0500000US04027    027                  Yuma  County   18618.885
05     0500000US05149    149                  Yell  County    1039.214
06     0500000US06115    115                  Yuba  County   20056.938
08     0500000US08125    125                  Yuma  County    4772.672
09     0500000US09015    015               Windham  County     920.560
10     0500000US10005    005                Sussex  County     936.079
11     0500000US11001    001  District of Columbia              61.048
12     0500000US12133    133            Washington  County    1998.324
13     0500000US13321    321                 Worth  County     892.461
15     0500000US15009    009                  Maui  County    4028.417
16     0500000US16087    087            Washington  County    8477.352
17     0500000US17203    203              Woodford  County    1183.378
18     0500000US18183    183               Whitley  County     657.308
19     0500000US19197    197                Wright  County     972.720
20     0500000US20209    209             Wyandotte  County    1429.863
21     0500000US21239    239              Woodford  County     786.833
22     0500000US22127    127                  Winn  Parish    1327.910
23     0500000US23031    031                  York  County    6671.330
24     0500000US24510    510             Worcester    city     660.221
25     0500000US25027    027             Worcester  County    1510.770
26     0500000US26165    165               Wexford  County    1808.401
27     0500000US27173    173       Yellow Medicine  County    6247.401
28     0500000US28163    163                 Yazoo  County     922.947
29     0500000US29510    510                Wright    city    1177.266
30     0500000US30111    111           Yellowstone  County    5541.624
31     0500000US31185    185                  York  County    5960.422
32     0500000US32510    510            White Pine  County   18181.924
33     0500000US33019    019              Sullivan  County    1794.685
34     0500000US34041    041                Warren  County     798.576
35     0500000US35061    061              Valencia  County    6923.690
36     0500000US36123    123                 Yates  County    2680.377
37     0500000US37199    199                Yancey  County     949.221
38     0500000US38105    105              Williams  County    2760.323
39     0500000US39175    175               Wyandot  County     701.931
40     0500000US40153    153              Woodward  County    2246.358
41     0500000US41071    071               Yamhill  County   10133.170
42     0500000US42133    133                  York  County    1228.594
44     0500000US44009    009            Washington  County     409.502
45     0500000US45091    091                  York  County    1133.896
46     0500000US46137    137               Ziebach  County    3470.984
47     0500000US47189    189                Wilson  County     763.174
48     0500000US48507    507                Zavala  County    6183.733
49     0500000US49057    057                 Weber  County    7819.988
50     0500000US50027    027               Windsor  County     969.337
51     0500000US51840    840                  York    city     968.941
53     0500000US53077    077                Yakima  County    5267.978
54     0500000US54109    109               Wyoming  County    1039.681
55     0500000US55141    141                  Wood  County    1544.983
56     0500000US56045    045                Weston  County   10426.649
72     0500000US72153    153                 Yauco    Muno     125.947

In [187]:
#Getting min area for each state
min_data = data
max_data.groupby("STATE").min()

C:\Users\amyca\AppData\Local\Temp\ipykernel_72708\3577323514.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  max_data.groupby("STATE").min()

               GEO_ID COUNTY                  NAME     LSAD  CENSUSAREA
STATE
01     0500000US01001    001               Autauga   County     534.991
02     0500000US02013    013        Aleutians East  Borough     452.325
04     0500000US04001    001                Apache   County    1236.916
05     0500000US05001    001              Arkansas   County     528.268
06     0500000US06001    001               Alameda   County      46.873
08     0500000US08001    001                 Adams   County      33.034
09     0500000US09001    001             Fairfield   County     369.301
10     0500000US10001    001                  Kent   County     426.286
11     0500000US11001    001  District of Columbia               61.048
12     0500000US12001    001               Alachua   County     243.556
13     0500000US13001    001               Appling   County     119.200
15     0500000US15001    001                Hawaii   County      11.991
16     0500000US16001    001                   Ada   County     406.867
17     0500000US17001    001                 Adams   County     160.161
18     0500000US18001    001                 Adams   County      86.140
19     0500000US19001    001                 Adair   County     380.606
20     0500000US20001    001                 Allen   County     151.600
21     0500000US21001    001                 Adair   County      99.911
22     0500000US22001    001                Acadia   Parish     169.423
23     0500000US23001    001          Androscoggin   County     253.695
24     0500000US24001    001              Allegany   County      80.944
25     0500000US25001    001            Barnstable   County      44.970
26     0500000US26001    001                Alcona   County     319.704
27     0500000US27001    001                Aitkin   County     152.212
28     0500000US28001    001                 Adams   County     400.038
29     0500000US29001    001                 Adair   County      61.909
30     0500000US30001    001            Beaverhead   County     718.477
31     0500000US31001    001                 Adams   County     238.990
32     0500000US32001    001           Carson City              144.662
33     0500000US33001    001               Belknap   County     368.975
34     0500000US34001    001              Atlantic   County      46.191
35     0500000US35001    001            Bernalillo   County     109.167
36     0500000US36001    001                Albany   County      22.829
37     0500000US37001    001              Alamance   County     172.473
38     0500000US38001    001                 Adams   County     630.171
39     0500000US39001    001                 Adams   County     227.493
40     0500000US40001    001                 Adair   County     371.080
41     0500000US41001    001                 Baker   County     431.297
42     0500000US42001    001                 Adams   County     130.242
44     0500000US44001    001               Bristol   County      24.164
45     0500000US45001    001             Abbeville   County     359.130
46     0500000US46003    003                Aurora   County     412.185
47     0500000US47001    001              Anderson   County     114.193
48     0500000US48001    001              Anderson   County     127.036
49     0500000US49001    001                Beaver   County     298.778
50     0500000US50001    001               Addison   County      81.811
51     0500000US51001    001              Accomack   County       1.999
53     0500000US53001    001                 Adams   County     173.915
54     0500000US54001    001               Barbour   County      82.609
55     0500000US55001    001                 Adams   County     231.983
56     0500000US56001    001                Albany   County    2004.092
72     0500000US72001    001              Adjuntas     Muno       4.845

In [204]:
#number of counties (look at "Length: 3221" at the bottom of the output)
unique_counties = data.NAME.unique
unique_counties

<bound method Series.unique of 0            Autauga
1             Blount
2           Chambers
3            Chilton
4            Colbert
            ...
3216        Accomack
3217           Bland
3218        Buchanan
3219       Charlotte
3220    Chesterfield
Name: NAME, Length: 3221, dtype: object>

In [82]:
#groupby (NOTES)
nameList = data.groupby(['STATE'])['NAME'].apply(pd.Series.mode)
print(nameList)

STATE
01     0       Autauga
       1       Baldwin
       2       Barbour
       3          Bibb
       4        Blount
               ...
72     73    Vega Baja
       74      Vieques
       75     Villalba
       76      Yabucoa
       77        Yauco
Name: NAME, Length: 2955, dtype: object

#### TASK 3: Join fips code to get full names of states (plesae do a real join using merge)

In [ ]:
#spatial join example

fips_state =pd.read_json('fipsToState.json', usecols=['Nom_Districte','Nombre'])
pop = pd.DataFrame(pop.groupby('Nom_Districte')['Nombre'].sum()).reset_index()
pop.columns=['district_name','population_22']
districts = districts.merge(pop)
districtsv

In [275]:
#add json file
file = "stateCodeToFips.json"
state_fips = pd.read_json(file, orient='index')
state_fips.sort_index()

     0
AK   2
AL   1
AR   5
AS  60
AZ   4
CA   6
CO   8
CT   9
DC  11
DE  10
FL  12
GA  13
GU  66
HI  15
IA  19
ID  16
IL  17
IN  18
KS  20
KY  21
LA  22
MA  25
MD  24
ME  23
MI  26
MN  27
MO  29
MS  28
MT  30
NC  37
ND  38
NE  31
NH  33
NJ  34
NM  35
NV  32
NY  36
OH  39
OK  40
OR  41
PA  42
PR  72
RI  44
SC  45
SD  46
TN  47
TX  48
UT  49
VA  51
VI  78
VT  50
WA  53
WI  55
WV  54
WY  56

In [276]:
#state_fips: making sure STATE column is an interger so it can be later merged
state_fips.columns=['STATE']
state_fips['STATE'] = state_fips['STATE'].astype(int)
state_fips.head()

    STATE
AK      2
AL      1
AR      5
AS     60
AZ      4

In [288]:
#adding index as a column name
state_fips_reset = state_fips.reset_index()
state_fips_reset.head(5)

  index  STATE
0    AK      2
1    AL      1
2    AR      5
3    AS     60
4    AZ      4

In [287]:
#merge_data: making sure STATE column is an interger so it can be later merged
merge_data = data
merge_data['STATE'] = merge_data['STATE'].astype(int)

In [286]:
#ANSWER
merged_data = merge_data.merge(state_fips_reset, on='STATE')
merged_data.sample(5)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry,index
565,0500000US16029,16,029,Caribou,County,1764.146,"POLYGON ((-111.04416 43.02005, -111.04413 43.0...",ID
2837,0500000US51091,51,091,Highland,County,415.156,"POLYGON ((-79.79457 38.26486, -79.79013 38.267...",VA
2879,0500000US51610,51,610,Falls Church,city,1.999,"POLYGON ((-77.15029 38.87619, -77.15497 38.872...",VA
1913,0500000US37161,37,161,Rutherford,County,564.151,"POLYGON ((-81.87443 35.18411, -81.96932 35.187...",NC
2071,0500000US40129,40,129,Roger Mills,County,1141.136,"POLYGON ((-100.00039 35.61912, -100.00040 35.8...",OK

#### TASK 4: Plot maps to show all the counties with the most common names from first task